.input{
    width: 15%;
    background-color: white;
}
.InputField{
    display: flex;
    justify-content: center;
    margin: 3%; 
}
.Button{
  padding: 5px;
  color: white;
  border: 2px solid blue;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left-color: black;
}